@import './side.scss';
@import './main.scss';
@import './middle.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
.wrapper {
  display: flex;
  // width: 100vw;
}
.sidebar-right {
  height: auto;
  background: #15202b;
  color: white;
  // padding: 0rem 7rem 0rem 2.4rem;
  padding: 0rem 2rem;
  .search-box {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    position: relative;
    height: 3rem;
    width: 70%;
    background: #253341;
    border-radius: 9999px;
    input {
      all: unset;
      background: #253341;
      &::placeholder {
        color: #637380;
        font-size: 15px;
      }
    }
    i {
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translate(-8%, -50%);
      color: #637380;
    }
  }

  .news {
    margin-top: 1rem;
    height: auto;
    width: 70%;
    background: #192734;
    border-radius: 16px;
    .news_header {
      display: flex;
      align-items: center;
      height: 3rem;
      font-size: 20px;
      font-weight: 800;
      border-bottom: 1px solid rgb(62, 67, 71);
      span {
        transform: translateX(10%);
      }
    }
    .card_body {
      display: flex;
      align-items: center;
      padding: 0rem 0.5rem;
      border-bottom: 1px solid #52616f;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        background: rgba(255, 255, 255, 0.03);
      }
      .latest_news {
        margin: 10px;
        .news_card {
          color: #52616f;
          margin: 0.2rem 0rem;
          font-size: 12px;
        }
        .news_block {
          span.hashtag {
            color: #1B95E0;
            &:hover{
              text-decoration: underline;
            }
          }

          font-size: 13px;
          h3 {
            color: white;
            font-size: 15px;
            line-height: 20px;
          }
          span {
            font-size: 13px;
          }
        }
        .tweet_count {
          font-size: 12px;
          color: #52616f;
          margin-top: 0.4rem;
        }
      }
      .news-img {
        img {
          width: 68px;
          height: 68px;
          object-fit: cover;
          border-radius: 20%;
        }
        i {
          color: #52616f;
        }
      }
    }
    .news_footer {
      height: 7vh;
      color: #2293da;
      display: flex;
      padding: 0rem 1.3rem;
      align-items: center;
      font-size: 15px;
      transition: all 0.2s ease;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 0.03);
      }
    }
  }
}
